<template>

<div class="header">
    <a href="#">Home</a>
    <a v-on:click="logout" href="#">Logout</a>
</div>
</template>
<script> 

    export default {
        name: 'headerPage',
        methods:{
            logout()
            {
                localStorage.clear();
                this.$router.push({name: 'pointsCollection'})
            } 
        }
    }

</script>