<template>
    <headerPage />
    <h1>Points Collection</h1>
    <h2>Welcome {{phoneNumber}}</h2>
    <table border = "2px">
        <tr v-for="phoneNumber in users" v-bind:key="phoneNumber.id">
            <td>{{phoneNumber.id}}</td>
            <td>{{phoneNumber.phoneNumber}}</td>
            <td>{{phoneNumber.points}}</td>
        </tr>
    </table>
    
</template>

<script> 

    import headerPage from './header.vue'
    import axios from 'axios';
    export default{
        name: 'indexContent',

        data(){
            return{
                phoneNumber:'',
                points:'',
                users:[]
            }
        },

        components:{
            headerPage
        },
        
        async mounted()
        {
            let users = localStorage.getItem('user-info');
            this.phoneNumber= JSON.parse(users).phoneNumber;
            if(!users)
            {
                this.$router.push({name: 'pointsCollection'})
            }
            let result = await axios.get("http://localhost:3000/users");
            this.users = result.data;

        }
    }

     

</script>