<template>

<h1 class="firstSentence">Collect Your Points</h1>
<div class="collectForm">
  <input type = "text" placeholder = "Enter Phone Number" v-model="phoneNumber"/>
  <!--<input type = "text" placeholder="Points" v-model="points"/>-->
  <button v-on:click="pointCollections">Collect Points</button>
</div>

</template>
<script> 

//import axios from 'axios'
export default {
    
    
    name : 'pointsCollection',
    data()
    {
        return {
            phoneNumber:"",
            //points:""
        }
    },

    methods:{

            pointCollections(){

            let url = "https://mulahpoints.com/third_party";

            let xhr = new XMLHttpRequest();
            xhr.open("POST", url);

            xhr.setRequestHeader("Token", "eyJhbGciOiJIUzI1NiJ9.eyJpZCI6IjUzYWIwNmYyLTBhODEtNDcyYy1hMDM5LTU2YzljMDhjNzE3OCJ9.ux07QRVmjrhT8u2iVWTRMpYuUjS9b0Yj4VEPrIMjI8w");
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log(xhr.responseText);
            }};

            let data = `{
            "operation_name":"collectPoints",
            "variables": 
                {
                "phoneNumber": "60148118364",
                "extension": "MY",
                "brandId": "eyJhbGciOiJIUzI1NiJ9.eyJicmFuZF9pZCI6IjBiYWU0N2RiLWM3MDktNGJjNC05NGZkLWFiZWRkOTY3ZGU2NSJ9.tqMEytMc0SqZYtrwiNy8lccrx2CPHmUAsjCexCN_k98",
                "outletName": "jacktest",
                "outletId": 2633,
                "points": 100
                }
            }`;

            
            xhr.send(data);

            
            }
        
    },

    mounted()
    {
        let users = localStorage.getItem('data');
        if(users)
        {
            this.$router.push({name: 'indexContent'})
        } 
    }
}

</script>