.logo{
    width:300px;
    padding-left: 20px;
    display: block;
    margin-bottom: 30px;
    margin-right:auto;
    margin-left: auto;
}

.collectForm input{
    height: 30px;
    width: 300px;
    padding-left: 20px;
    display: block;
    margin-bottom: 30px;
    margin-right:auto;
    margin-left: auto;
    border: 1px solid orange

}


.collectForm button{
    width:300px;
    height:30px;
    border: 1px solid orange;
    background: rgb(253, 199, 99);
    cursor: pointer;    
    display: block;
    margin-right:auto;
    margin-left: auto;
}

.firstSentence {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #df950c;
    margin-top: 60px;
  }

  .header{
      background-color: #333;
      overflow: hidden;
  }

  .header a{
      float:left;
      color:aliceblue;
      padding: 14px 14px;
      text-align: center;
      font-size: 17px;
      text-decoration: none;
      margin-right: 5px;
  }

  .header a:hover{
      background: white;
      color: #df950c;
  }