<template>
  <img class="logo" src="./assets/6063adf72459c8c75fe01b7c_mulahlogo.png" />
  <pointsCollection />
</template>

<script>
import './assets/style.css'
import pointsCollection from './components/pointsCollection'

export default {
  name: "App",

  components: {
    pointsCollection,
  }
};
</script>


