<template> 
    <h1 class="firstSentence">Collect Your Points</h1>
    <form class="collectForm" @submit="submitCollection">
        <input type = "text" placeholder = "Enter Phone Number" v-model="phoneNumber" name="phoneNumber"/>
        <!--<input type = "text" placeholder="Points" name="point" v-model="points"/>-->
        <button type="submit">Collect Points</button>
    </form>
</template>
<script> 
    export default {
        data() {
            return {
                phoneNumber: '',
            };
        },

        methods: {
            submitCollection: function(event){
                event.preventDefault();
                console.log(event)
            },
        },
    }

    /*v-model="points"*/
</script>