<template>
  <img class="logo" src="./assets/6063adf72459c8c75fe01b7c_mulahlogo.png">
  
  
  <router-view />
  
</template>


<script>

import './assets/style.css'
export default {
  name: 'App',

  
}
</script>

